
CODE/Explore_MitoEM.asv
CODE/exploreHelaMito.asv
CODE/segmentMitochondria.asv
CODE/closeInvaginations.asv
CODE/displayInvaginations.asv
CODE/calculateAllInvaginations.asv
CODE/drawGroundTruthMito.asv
CODE/featuresMitochondria.asv
CODE/summariseMetricsInvaginations.asv
CODE/displayMitochondria.asv
CODE/exploreMitochondriaVisualDisplay.asv
CODE/exploreMitochondriaCorrelations.asv
CODE/Hela_ROI_03_display.fig
CODE/Hela_ROI_04_display.fig
CODE/Hela_ROI_30_display.fig
CODE/Hela_ROI_29_display.fig
CODE/Hela_ROI_26_display.fig
CODE/Hela_ROI_25_display.fig
CODE/Hela_ROI_21_display.fig
CODE/Hela_ROI_20_display.fig
CODE/Hela_ROI_22_display.fig
CODE/Hela_ROI_23_display.fig
CODE/Hela_ROI_13_display.fig
CODE/Hela_ROI_11_display.fig
CODE/Hela_ROI_12_display.fig
CODE/Hela_ROI_10_display.fig
CODE/Hela_ROI_07_display.fig
CODE/Hela_ROI_08_display.fig
CODE/Hela_ROI_09_display.fig
CODE/Hela_ROI_16_display.fig
CODE/Hela_ROI_17_display.fig
CODE/Hela_ROI_18_display.fig
CODE/Hela_ROI_19_display.fig
